/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Open Sans:300,400,500,600,700";
body {
    font-family: Open Sans, sans-serif;
    overflow-x: hidden;
    font-size: 14px;  
}

body, html{
    height: 100%;
    padding: 0;
    margin: 0;
} 

p {
    font-family: Open Sans, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    ESTILOS DEL SIDEBAR
----------------------------------------------------- */

#sidebar {
    width: 260px;
    position: fixed;
    top: 0;
    left: -260px;
    height: 100vh;
    z-index: 999;
    background: #5A1533;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #5A1533;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #5A1533;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #5A1533;
}

#sidebar .user-info .user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.2);
    margin-bottom: 10px;
}

#sidebar ul.components {
    padding: 10px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #5A1533;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #5A1533;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #212F3C;
}


/* ---------------------------------------------------
    CONTENEDOR PADRE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* ---------------------------------------------------
    NAVBAR
----------------------------------------------------- */


.navbar {
    padding: 15px 10px;
    background: #5A1533;
}


.container-fluid {
    width: 80%;
    margin-top:125px;
}

h1  {
    color: #5A1533;
}

.toggle-card {
    box-shadow: 0px 0px;
}

thead {
    background: #5A1533;        
}

table {
    font-size:  14px;   
}

.toggle-card {
    display: none;
}

footer{
  margin-top: 200px;
  background: #5A1533;
  text-align: center;
  padding: 40px;
  width: 100%;
  font-size: 12px;
}



/**
  Estilos para el Login 
  Author: Carlos Chavarria

**/
.login-container{
      background: url('../img/login-bg.png');
      background-size: cover;
    }
    .login-form {
      width: 425px;
      height:375px;
      background: #f2f2f2;
      font-size: 14px;
      padding: 35px 50px;
      border-radius: 1px;
      display: none;
    }
    .login-tittle {
      font-size: 16px;
    }
    .custom-input {
      border: none;
      background: transparent;
      width: 90%;
    }
    .custom-input:focus{
       outline:none !important;
         outline-width: 0 !important;
         box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }

    .input-group {
      border-bottom: 1px solid #CBD0D4;
    }

    .btn-login {
      width: 65%;
      background: transparent;
      padding: 8px;
      border: 2px solid #CBD0D4;
      border-radius: 28px;
      color: gray;
      outline:none !important;
         outline-width: 0 !important;
         box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
    .btn-login:hover {
      background: #5A1533;
      border: 2px solid #5A1533;
      color: #fff;
    }
    
    .jumbotron-fluid {
            padding: 15px 10px;
            width: 100%;
            height: 380px;
            background:url('../img/Jumbotron.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;

    }

    .card-body-labs {
        background: #5A1533;
        color: #ffff;
    }

    .soft-tittle {
      background: #5A1533;
      color: #fff;
      padding: 8px;
      font-size: 16px;
      border-radius: 20px;
      display: block;
    }

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}



/* SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #5A1533;
}

/* SCROLLBAR */
